src/main/resources/xsd/almacen.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="calcularDescuentoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cantidad" type="xs:double"/>
                <xs:element name="precio" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="calcularDescuentoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="valorTotal" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
