src/main/resources/xsd/dni.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">
    <xs:element name="necesitaDNIRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="añoNacimiento" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="necesitaDNIResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="necesitaDNI" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
