src/main/resources/xsd/numerosPares.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">
    <xs:element name="obtenerNumerosParesRequest" type="xs:anyType"/>
    <xs:element name="obtenerNumerosParesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numerosPares" type="xs:int" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>